Repository OpenShot/libopenshot, pull requests merged in 2021-07, with the labels that each got.

#695 Fix invalid starting PTS value (blank 1st frame)
  CMakeLists.txt
  src/FFmpegReader.cpp
  src/FFmpegWriter.cpp
  src/FFmpegWriter.h
  src/QtPlayer.cpp
Labels: ffmpeg

#701 CMake: Fix ENABLE_MAGICK
  src/CMakeLists.txt
Labels: build

#703 Eliminate useless 'const'
  src/FFmpegUtilities.h
Labels: code
