Repository OpenShot/libopenshot, pull requests merged in 2021-11, with the labels that each got.

#767 Avoid a bug in ImageMagick or cassert headers
  src/ChunkReader.cpp
  src/Clip.cpp
  src/FFmpegReader.cpp
  src/Frame.cpp
  src/Frame.h
  src/FrameMapper.cpp
  src/MagickUtilities.h
  src/Qt/PlayerPrivate.cpp
  src/Qt/VideoCacheThread.cpp
  src/Qt/VideoPlaybackThread.cpp
  src/TrackedObjectBBox.cpp
Labels: build

#772 CI: Try to avoid always recompiling Resvg
  .github/workflows/ci.yml
Labels: build

#730 ChromaKey: Minimal unit testing
  tests/CMakeLists.txt
  tests/ChromaKey.cpp
Labels: tests

#777 tests/Fraction: Approx() floating-point for 32bit
  tests/Fraction.cpp
Labels: tests

#771 Move ImageMagick code out of Frame class
  src/CMakeLists.txt
  src/Frame.cpp
  src/Frame.h
  src/ImageReader.cpp
  src/ImageReader.h
  src/ImageWriter.cpp
  src/ImageWriter.h
  src/MagickUtilities.cpp
  src/MagickUtilities.h
  src/QtUtilities.h
  src/TextReader.cpp
  src/TextReader.h
  src/TimelineBase.h
  tests/ImageWriter.cpp
  tests/QtImageReader.cpp
Labels: Readers: generative, code, build, tests

#780 CacheBase: Add missing include that tripped up the PPA builders
  src/CacheBase.cpp
Labels: code, build
